* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #369;
}

header h1 {
    text-align: center;
    font-size: 2.8rem;
    color: rgb(244, 209, 143);
    margin: 30px 0;
}

.argentina img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 60%;
    height: 50%;
}
  
.lista-jugadores {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
  
.card {
    border: 1px solid #cccccc;
    border-radius: 8px;
    text-align: center;
}
  
.imagen-jugador {
    width: 80%;
    height: 300px; 
    object-fit: contain; 
    transition: transform 0.3s ease;
    padding: 10px;
}

.imagen-jugador:hover {
    transform: scale(1.04); 
}
  
.info-card h4 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: rgb(203, 157, 72)
}
  
.info-card p {
    font-size: 1.2rem;
    color: #fff;
    margin: 5px 0;
}


#search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 30px;
}
  

#search:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.filtro-posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 10px;
}
  

.filtro-posicion label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(235, 195, 121);
}
  

.filtro-posicion select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}
  

.filtro-posicion select option {
    background-color: #f9f9f9;
    color: #333;
}

.escudo {
    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.escudo img {
    height: 150px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    header h1 {
        font-size: 2.2rem;
    }
    
    .argentina img {
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 665px){
    header h1 {
        font-size: 1.8rem;
    }
    
    .argentina img {
        width: 70%;
        height: 70%;
    }

    .grid-container {
        margin-left: 5px;
        margin-right: 5px;
    }
}
